svg {
  background-color: green;
}
#bot, #cir1, #cir3, #licir1, #licir2 {
  fill: white;
  stroke: green;
  stroke-width: 3;             
}
#top, #wheel { 
  fill: white;    
}
#cir4, #cir5 {
  fill: green;
}
text {
  fill: green;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', serif;
}
